.body{
    font-family: 'Lato', ;
    background-color: #FFFEFF;
}

section{
    padding: 5%;
}
h1{
    font-size: 35px;
    font-weight: 700;
}
h3{
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: justify;
}
.navbar {
    background-color: white!important;
}
#navbarNav{
    margin-left: 30%;
}
.navbar-nav li{
    margin-left: 7%;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.nav-link:hover{
    color: #575A89!important;
    border-bottom: 2px solid #575A89;
}
.bannerText{
    margin-left: 10%;
}
.banner img{
    width: 100%;
}
.click{
    padding: 1% 15%;
    font-size: 1.3em;
    border: 2px solid #575A89;
    border-radius: 50px;
    font-weight: 600;
}
.click:hover{
    color: #FFFEFF;
    background-color: #575A89;
}
.about{
    background-color: #F0F0F4;
}
.aboutText{
    margin-top: 10%;
    padding-bottom: 3%;
}

#skillBox{
    border-top: 20px solid  #575A89;
    border-right: 2px solid #575A89;
    border-bottom: 2px solid #575A89;
    border-left: 2px solid #575A89;
    padding: 10%;
    margin: 10%;
}
#skillBox:hover{
    background-color: #575A89;
    color: #F0F0F4;
}
#website, #graphic{
    margin-left: 1%;
    padding: 0.5% 2%;
    background-color: #575A89;
    color: #F0F0F4;
    border: none;
}
#website:hover, #graphic:hover{
    background-color: rgb(196, 196, 196);
}
#portfolioBox h3:hover{
    background-color: rgb(167, 167, 167);
    color: #F0F0F4;
    cursor: pointer;
}
.portfolio img{
    float: left;
    width: 20%;
    margin: 3% 0 3% 8%;
}
#websiteContent{
    display: none;
}
.client{
    display: inline-block;
}
.carousel-item img {
    margin-left: 40%;
    width: 20%;
    border-radius: 50%;
}
.carousel-item p{
    padding: 0 5% 0 5%;
    text-align: justify;
}
input[type]{
    padding: 2% 20%;
}
.mail{
    padding: 2% 7%;
    color: white;
    background-color: black;
    border: none;
}
.mail:hover{
    background-color: #575A89;
}

.fa{
    font-size: 1.5em;
    border-radius: 50%;
    padding: 3%;
    margin-left: 2%;
    border: 2px solid #575A89; 
    background-color: #575A89;
    color: #FFFEFF;
}
.fa:hover{
    background-color: white;
    color: #575A89;
}
.contact img{
    margin-top: 10%;
}

